/*RESET STYLE CELL PADA JQGRID*/
.jqgrid-column-left {text-align: left; padding-left: 5px; padding-top: 3px; font-weight: bold;}
.jqgrid-column-right {text-align: right; padding-right: 12px; padding-top: 3px; font-weight: bold;}
.jqgrid-column-center {text-align: center; padding: 0; padding-top: 3px; font-weight: bold;}

/*SEARCH FILTER: DIALOG SEARCH PADA JQGRID*/
.searchFilter, .searchFilter table, 
	.searchFilter td input[type=text], .searchFilter td select, .searchFilter th select {width: 100%;}
.searchFilter .opsel {width: 55px;}
.searchFilter input.add-group, .searchFilter input.delete-group, 
	.searchFilter input.add-rule, .searchFilter input.delete-rule,
	.ui-datepicker-month, .ui-datepicker-year,
	.ui-pg-input, .ui-pg-selbox{border: 1px solid #ddd; margin: 0 2px; padding: 2px; color: #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.searchFilter td, .searchFilter th {padding: 3px; vertical-align: top;}
.searchFilter td.first {padding: 0;}

/*STYLE TABLE UNTUK FORM*/
.table-form {width: 100%;}
.table-form th, .table-form td {padding: 3px; vertical-align: middle;}
.table-form label{font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold;}
.table-form input, .table-form select, .table-form input:disabled, .table-form select:disabled, .jqgrow input, .jqgrow select,
	.searchFilter td input[type=text], .searchFilter td select, .searchFilter th select {font-family: Verdana, Arial, sans-serif; font-size: 11px; border: 1px solid #ddd; padding: 3px; color: #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.table-form select {width: 100%;}
.table-form .text, .table-form .text-search ,.jqgrow input, .jqgrow select {width: 99%;}
.table-form .numeric-visionary {font-family: Verdana, Arial, sans-serif; font-size: 11px; padding: 3px; color: #000;}

/*STYLE UNTUK FIELD YANG ERROR*/
.error-field {background-color:rgb(255, 102, 102) !important;}
.table-form input:disabled, .table-form select:disabled , .table-form textarea:disabled {background-color: #eee;}
.link-edit {
	border: none;
	background: none;
}

div.ui-jqgrid-view table.ui-jqgrid-btable
{
    border-style:none;
    border-top-style:none;
    border-collapse:separate;
}
div.ui-jqgrid-view table.ui-jqgrid-btable td
{
    border-left-style:none
}
div.ui-jqgrid-view table.ui-jqgrid-htable
{
    border-style:none;
    border-top-style:none;
    border-collapse:separate;
}
div.ui-jqgrid-view table.ui-jqgrid-btable th
{
    border-left-style:none
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-jqgrid tr.jqgrow td {
	white-space: normal !important;
	height:auto;
	vertical-align:middle;
	padding-top:3px;
	padding-bottom: 5px;
}
.ui-jqgrid .ui-jqgrid-htable th {
	vertical-align:middle;
}
.ui-jqgrid .ui-jqgrid-htable th div, .ui-jqgrid-sortable  {
    height:auto;
    overflow:hidden;
    white-space:normal !important;
	padding-top:3px;
	padding-bottom: 3px;
}

.ui-jqgrid input.editable {
	width: 90% !important;
}

.button-state-group {
	display: inline-block;
	zoom: 1;
	line-height: 30px;
	height: 30px;
	vertical-align: middle;
	padding-left: 1px;
}
.button-state {
	float: left;
	margin-left: 2px;
}